@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.navbar_container {
    margin: 1.5rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: solid;
    border-color: #d7d7d7;
    width: 100%;
}

.navbar_container li {
    list-style: none;
    font-family: open Sans;
}

.navbar_element {
    padding: 1rem 2rem;
    transition: color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
} 

.navbar_element button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navbar_element a {
    text-decoration: none;
    color: #000000;
}

.navbar_element:hover {
    padding: 0.7rem 2rem;
    border-top: 0.3rem solid #000000;
    cursor: pointer;
}

.topics_button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.dropdown_element button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.dropdown_element {
    padding: 1rem 0.5rem;
}

.dropdown_element:hover {
    text-decoration: underline;
}

.dropdown_menu {
    display: flex;
    flex-direction: column;
}